#financialReportPage{
    box-shadow: 3px 3px 3px 3px;
    width: 1000px;
    color:black;
    padding-top:10px;
    padding-left:60px;
    padding-right:60px;
    padding-bottom:60px;
    max-width: 1000px;
}

#programlist{
   
    margin-left:60px;
}

#receiptSeason1{
    
    text-align:right;
    position:absolute;
    margin-left:260px;
}
#receiptSeason2{
    text-align:right;
    position:absolute;
    margin-left:400px;
    
}

#ReceiptBooks{
    text-align:right;
    position:absolute;
}
#totReceiptBooks{
    
    margin-left:92px;
}


#disbursmentlist{
    
    width:500px;
    margin-left:60px;
}
#operatingexpense{
    
    width:500px;
    margin-left:100px;
}
#operatingexpensedata{
    position:absolute;
    text-align:right;
    width:200px;
    margin-left:440px;
    margin-top:-266px;
}
#administrativeexpense{
    
    width:500px;
    margin-left:100px;
}
#administrativeexpensedata{
    position:absolute;
    text-align:right;
    width:200px;
    margin-left:440px;
    margin-top:-314px;
}
#otherdisbursment{
    
    margin-left:100px;
}
#otherdisbursmentdata{
    position:absolute;
    text-align:right;
    width:200px;
    margin-left:440px;
    margin-top:-50px;
}
#totDisburseNetExcess{
    width:500px;
    text-align:right;
    margin-left:40px;
}

#netincome{
    text-align:right;
    width:200px;
    margin-top:-50px;
    margin-left:500px;
}

#totbookSale{
    text-align:right;
    position:absolute;
    margin-left:540px;
    margin-top:-290px;
}
#totReciept{
    position:absolute;
    margin-left:60px;
}

#totRevenue{
    position:absolute;
    margin-left:680px;
    margin-top:0px;
}

#line1,
#line2,
#line3
#line4{
background-color:#475a68;
border-width:2px;
width:880px;
}

#line2{
    position:absolute;
    margin-top: 30px;
}

#line3{
    position:absolute;
    margin-top: 0px;
    margin-left: 300px;
    width: 500px;
}

#line4{
    position:absolute;
    margin-top: 0px;
    margin-left: 60px;
    width: 600px;
}

#netIncomelbl{
    position:absolute;
    margin-top: -25px;
    margin-left: 710px;

}