.form-control:disabled, .form-control[readonly] {
    color: #000;
}
@media print {
    .content-header, .left-side, .main-header, .main-sidebar, .no-print {
    display: none!important;
}
 .table {
border-collapse: collapse !important;
}
td{
    color: #000;
}

}
.add{
    position: relative;
    float: right;
    margin-right: 12px;
    bottom: 50px;
}
.btn-group{
	top: 32px;
}

.clear{
            padding: 10px;
            border-radius: 5px;
            margin-left: 16px;
            color: #fff !important;
            cursor: pointer;
        }