.marg{
    margin-bottom: -60px !important;
}
#sidebar.affix-top, #sidemenu.affix {
    position: relative;
}
#sidebar.affix-bottom {
    position: relative;
}
#sidemenu .nav-link.active,
#sidemenu .nav-link:hover,
#sidemenu .nav-link:focus{
    color: #111;
    border-bottom: 1px #000 dashed;
}

.service-menu-widget{
    position: absolute;
}
.services-menu-widget ul li {
  border: 1px solid #ececec;
  border-bottom-width: 0;
  background-color: #f7f7f7;
  position: relative;
  -webkit-transition: 0.5s;
          transition: 0.5s;
          list-style-type: none;
}
.services-menu-widget ul li:after {
  display: none;
}
.services-menu-widget ul li:last-child {
  border-bottom-width: 1px;
}
.services-menu-widget ul li a {
  display: block;
  color: #848484;
  font-family: 'Montserrat', sans-serif;
 
  padding-left: 0;
  font-weight: 400;
  position: relative;
  -webkit-transition: 0.5s;
          transition: 0.5s;
              padding: 10px 20px;
}

.active-nav a{
    background-color: #ff3333 !important;
    color: #fff !important;
    border-color: #ff3333 !important;
}

.services-menu-widget ul .active-nav {
     border: 1px solid #ff3333;
}
.services-menu-widget ul li a:before {
  display: none;
}
.services-menu-widget ul li:hover,
.services-menu-widget ul li.current-menu-item {
  background-color: #ff0000;
  border-color: #ff0000;
}
.services-menu-widget ul li:hover a,
.services-menu-widget ul li.current-menu-item a {
  color: #fff;
}
.service-menu{
        padding-left: 0 !important;
        margin: -25px 0 0 0 !important;
}

@media only screen and (min-width: 768px) {
    #sidebar.affix {
        position: fixed;
        top: 30px;
        right: 30px;
    	width: 20%;
    }

}