﻿label.error {
    position: absolute;
    background: #ee0101;
    background: rgba(238, 1, 1, 0.80);
    padding: 2px 5px;
    top: -15px;
    left: 15px;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.6);
    z-index: 5;
}

    label.error:before {
        content: "";
        border: 4px solid transparent;
        border-top: 4px solid #ee0101;
        border-top: 4px solid rgba(238, 1, 1, 0.80);
        position: absolute;
        bottom: -8px;
    }

    @media only screen and (min-width:1000px) and (max-width:2000px){
#fbmessenger {
  
  position: fixed;
  bottom: 0px;
  right: 75px;
  height: 45px;
  z-index: 90;
  border: none;
  outline: none;
  background-color: #4080ff;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-top-left-radius: .7em;
  border-top-right-radius: .7em;
  font-size: 15px;
}
#fbmessenger:hover{
   background-color: #3b5998; 
}
#fbmessenger-mobile {
    display: none;
}
}

@media only screen and (min-width:100px) and (max-width:999px){
#fbmessenger-mobile {
  
  position: fixed;
  bottom: 0px;
  right: 75px;
  height: 45px;
  z-index: 90;
  border: none;
  outline: none;
  background-color: #4080ff;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-top-left-radius: .7em;
  border-top-right-radius: .7em;
}
#fbmessenger {
    display: none;
}
.btn-upload{

    position: relative;
    left: 7% !important;
    bottom: 45px;
    }
}

.btn-upload{

  position: relative;
  left: 1%;
}